<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>LigaSalaCadiz</display-name>
  <servlet>
    <servlet-name>ObtenerCalendario</servlet-name>
    <servlet-class>servlets.ObtenerCalendario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerCalendario</servlet-name>
    <url-pattern>/ObtenerCalendario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListarNoticias</servlet-name>
    <servlet-class>servlets.ListarNoticias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarNoticias</servlet-name>
    <url-pattern>/ListarNoticias</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BorraUsuario</servlet-name>
    <servlet-class>servlets.BorraUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorraUsuario</servlet-name>
    <url-pattern>/BorraUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreaNoticia</servlet-name>
    <servlet-class>servlets.CreaNoticia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaNoticia</servlet-name>
    <url-pattern>/CreaNoticia</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Administracion</servlet-name>
    <servlet-class>servlets.Administracion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Administracion</servlet-name>
    <url-pattern>/Administracion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NoticiaIndividual</servlet-name>
    <servlet-class>servlets.NoticiaIndividual</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticiaIndividual</servlet-name>
    <url-pattern>/NoticiaIndividual</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreaEquipo</servlet-name>
    <servlet-class>servlets.CreaEquipo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaEquipo</servlet-name>
    <url-pattern>/CreaEquipo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreaCategoria</servlet-name>
    <servlet-class>servlets.CreaCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaCategoria</servlet-name>
    <url-pattern>/CreaCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FormularioJornada</servlet-name>
    <servlet-class>servlets.FormularioJornada</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormularioJornada</servlet-name>
    <url-pattern>/FormularioJornada</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreaJornada</servlet-name>
    <servlet-class>servlets.CreaJornada</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaJornada</servlet-name>
    <url-pattern>/CreaJornada</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FormularioPartido</servlet-name>
    <servlet-class>servlets.FormularioPartido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormularioPartido</servlet-name>
    <url-pattern>/FormularioPartido</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FormularioPartido2</servlet-name>
    <servlet-class>servlets.FormularioPartido2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormularioPartido2</servlet-name>
    <url-pattern>/FormularioPartido2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FormularioEquipo</servlet-name>
    <servlet-class>servlets.FormularioEquipo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormularioEquipo</servlet-name>
    <url-pattern>/FormularioEquipo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreaPartido</servlet-name>
    <servlet-class>servlets.CreaPartido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaPartido</servlet-name>
    <url-pattern>/CreaPartido</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JugarPartido</servlet-name>
    <servlet-class>servlets.JugarPartido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JugarPartido</servlet-name>
    <url-pattern>/JugarPartido</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jornadas</servlet-name>
    <servlet-class>servlets.Jornadas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jornadas</servlet-name>
    <url-pattern>/Jornadas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FormularioResultado</servlet-name>
    <servlet-class>servlets.FormularioResultado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormularioResultado</servlet-name>
    <url-pattern>/FormularioResultado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrarResultado</servlet-name>
    <servlet-class>servlets.RegistrarResultado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarResultado</servlet-name>
    <url-pattern>/RegistrarResultado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FormularioClasificacion</servlet-name>
    <servlet-class>servlets.FormularioClasificacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormularioClasificacion</servlet-name>
    <url-pattern>/FormularioClasificacion</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Clasificacion</servlet-name>
    <servlet-class>servlets.Clasificacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Clasificacion</servlet-name>
    <url-pattern>/Clasificacion</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>